@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
@import url("https://fonts.googleapis.com/css?family=Poppins:500");

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 100vh; */

  position: relative;
  background: #ffb1a4;

  display: flex;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
h1 {
  /* padding-top: 400px; */

  color: white;
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 10vmin;
  }
}

h2 {
  color: white;
  font-size: 5vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h2 {
    margin-top: 10px;
  }
}

h3 {
  padding-top: 0px;
  margin-top: 0px;
  /* transform: translateY(250%); */
  font-size: 10vmin;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.grid-title {
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.grid-text {
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  @apply py-10;
}

@media (max-width: 1200px) {
  .grid-text {
    width: 50vw;
  }
}
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023f92;
  width: 50vmax;
  z-index: -1;
  animation: move 60s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob2 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023f92;
  width: 50vmax;
  z-index: -1;
  animation: move2 60s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob3 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023f92;
  width: 50vmax;
  z-index: -1;
  animation: move3 60s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob4 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023f92;
  width: 50vmax;
  z-index: -1;
  animation: move4 60s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes move {
  0% {
    transform: scale(1) translate(200px, -60px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
@keyframes move2 {
  0% {
    transform: scale(1) translate(-20vw, 0vh);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
@keyframes move3 {
  0% {
    transform: scale(1) translate(70vw, 0vh) rotate(0deg);
  }
  25% {
    transform: scale(1.2) translate(7vw, -30vh) rotate(120deg);
  }
  50% {
    transform: scale(1.4) translate(20vw, 50vh) rotate(90deg);
  }
  75% {
    transform: scale(1.2) translate(25vw, 75vh) rotate(200deg);
  }
  100% {
    transform: scale(1) translate(0vw, 10vh) rotate(180deg);
  }
}

@keyframes move4 {
  0% {
    transform: scale(1) translate(50vw, -100vh);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
.filter {
  filter: blur(3.5px);
}

/* rest of the content */

.first-viewheight {
  @apply h-screen;
}

.content {
  background-color: white;
  color: black;
  @apply py-8 w-screen;
}

.projects-module {
  background-color: #023f92;
  color: white;
}

.footer {
  background-color: #ffb1a4;
  color: white;
  @apply py-5 px-0 w-screen place-items-center place-content-center;
}

.container {
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  @apply grid grid-cols-3 place-items-center gap-16 pt-4  mb-6;
}

@media (max-width: 1200px) {
  .container {
    @apply grid-cols-1 place-items-center gap-0 pt-0  mb-0;
  }
}

/* contact module */

.contact-module {
  background-color: white;
  color: black;
}

.first-grid {
  @apply grid grid-cols-2 place-items-center;
}

@media screen and (max-width: 768px) {
  .first-grid {
    @apply grid-cols-1;
  }
}

.second-grid {
  .grid-container {
    display: grid;
    grid-template-rows: 2;
    gap: 6px;
    place-items: center;
  }
}

.third-grid {
  @apply grid grid-cols-3 place-items-center items-start;
}
.cv {
  @apply w-3/4 h-3/4 hover:scale-105 transition duration-[400ms] ease-in-out cursor-pointer;
}

@media screen and (max-width: 768px) {
  .cv {
    @apply flex justify-center;
  }
}
